*{
    margin: 0;
    box-sizing: 0;
    color: black;
    background-image: linear-gradient(188, 150,180);
}
.AboutKYTC{
    padding: 10px;
    margin: auto;
    width: 500px;
    background-color: rgb(235, 235, 20);
}
.technical{
    padding: 10px;
    margin:  10px ;
    width: 600px;
    background-color: rgb(172, 85, 70);
    opacity: 0.8;
}
.contact{
    background-color: rgb(155, 13, 37 , 0.8);
    width: 300px;
    margin: 20px auto; 
}
a{
    width: 100px;
    margin: 20px;
}
.photos{
    margin-left: 10px;
}
